{% extends "base.html" %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="row-form-errors">
                        {{ field.errors }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Войти</button>
    </form>
{% endblock %}