{% extends "base.html" %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if form.errors %}
            <p class="errorlist">
                Неверный логин или пароль
            </p>
        {% endif %}
        <button type="submit">Войти</button>
    </form>
{% endblock %}