{% extends "base.html" %}
{% block content %}

    {% if not user.is_authenticated %}
        <form method="POST"  class="form-check">
         {% csrf_token %}
            <table>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>{{ field }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            {{ field.errors }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit">Зарегестрироваться</button>
        </form>
    {% else %}

        <h1 class="alert-danger">
            Вы уже авторизованы
        </h1>
        <a href="{% url 'logout' %}" class="link-info">Выйти</a>
    {% endif %}
{% endblock %}