{% extends "base.html" %}
{% block content %}
    <h1>Корзина</h1>
    <table>
        <tr>
            <td>Название</td>
            <td>Кол-во</td>
            <td>Цена за ед.</td>
        </tr>
        {% for item in cart %}
            <tr>
                <td>
                    <a href="/product/{{ item.product.pk }}">
                        {{ item.product.label }}
                    </a>
                </td>
                <td>
                    <span>
                        {{ item.count }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.product.price }}
                    </span>
                </td>
                <td>
                    <a href="/api/cart/add/{{ item.product.pk }}">Добавить</a>
                </td>
                <td>
                    <a href="/api/cart/del/{{ item.product.pk }}">Удалить</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>Корзина пуста</td>
            </tr>
        {% endfor %}
        {% if cart %}
            <tr>
                <td>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password">
                    <button onclick="checkout()">Оформить заказ</button>
                    <script type="text/javascript">
                        async function checkout() {
                            let password = document.getElementById("password").value;
                            const result = await fetch("/api/user/password?password=".concat(password)).then((response) => response.json());
                            if (result.is_valid) {
                                fetch("/api/cart/checkout");
                                alert("Заказ оформлен");
                                document.location.reload();
                            }else{
                                alert("Неверный пароль");
                            }
                        }
                    </script>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}