{% extends "base.html" %}
{% block content %}
    <h1>Корзина</h1>
    <table>
        <tr>
            <td>Название</td>
            <td>Кол-во</td>
            <td>Цена за ед.</td>
        </tr>
        {% for item in cart %}
            <tr>
                <td>
                    <a href="/product/{{ item.product.pk }}">
                        {{ item.product.label }}
                    </a>
                </td>
                <td>
                    <span>
                        {{ item.count }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.price }}
                    </span>
                </td>
            </tr>
        {% empty %}
            <td>Корзина пуста</td>
        {% endfor %}

    </table>
{% endblock %}