{% extends "base.html" %}
{% block content %}
    <h1>Каталог</h1>
    <table>
        <tr>
            <td>Название</td>
            <td>Кол-во</td>
            <td>Цена за ед.</td>
            <td>Дата добавления</td>
            <td></td>
            <td></td>
        </tr>
        {% for item in products %}
            <tr>
                <td>
                    <a href="/product/{{ item.pk }}">
                        {{ item.label }}
                    </a>
                </td>
                <td>
                    <span>
                        {{ item.count }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.price }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ item.date.day }}.{{ item.date.month }}.{{ item.date.year }}
                    </span>
                </td>
            </tr>

        {% endfor %}

    </table>
{% endblock %}