{% extends "base.html" %}
{% block content %}
    <table  class="order-table">
        <tr>
            <td>
                Дата заказа
            </td>
            <td>
                Статус
            </td>
        </tr>
        {% for order in orders %}
            <tr>
                <td>
                    {{ order.orderTime.timetuple.tm_mday }}.{{ order.orderTime.timetuple.tm_mon }}.{{ order.orderTime.timetuple.tm_year}}  {{ order.orderTime.timetuple.tm_hour }}:{{ order.orderTime.timetuple.tm_min }}
                </td>
                <td>
                    {{ order.get_status_display  }}
                    {% if order.status == 'new' %}
                        <button onclick="cancel({{ order.pk }})">Отменить</button>
                        {% elif order.status == 'canceled' %}
                        <div>Причина: {{ order.rejection_reason }}</div>
                    {% endif %}
                </td>
                <td>
                    <table style="border: none">
                        <tr>
                            <td>
                                Название
                            </td>
                            <td>
                                Кол-во
                            </td>
                            <td>
                                Цена за ед.
                            </td>
                        </tr>

                        {% for item in order.orderitem_set.all %}
                            <tr>
                                <td>
                                    {{ item.product}}
                                </td>
                                <td>
                                    {{ item.count }}
                                </td>
                                <td>
                                    {{ item.price }}
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
    <script type="text/javascript">
    async function cancel(id){
        await fetch('/api/order/cancel/'.concat(id)).then( () => document.location.reload())
    }
    </script>
{% endblock %}